@font-face {
    font-family: 'Roboto Thin';
    src: url('fonts/Roboto-Thin.eot');
    src: url('Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Thin.woff') format('woff'),
    url('Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
.promo{
    min-height: 800px;
    background: url("img/main_bg.png") center center/cover no-repeat;
    padding:39px 0 62px 0;
}
.container{
    position:relative;
    width:1140px;
    margin:0 auto;
}
.logo_img{
    display: block;
    margin:0 auto;
}
.logo_text{
    color:#fff;
    font-size:15px;
    font-family:"Roboto", sans-serif;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin:15px;
}
h1{
    margin-top:53px;
}
.title{

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-align:center;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
}
.simple .title_big{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 21px;
}
h2.title{
    margin-top: 30px;
    font-family:Verdana,sans-serif;
}
.promo .promo_text {
    padding:0 13px;
    margin-top: 23px;
    color: #fff;
    font-size: 21px;
    font-family: "Roboto", sans-serif;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
}
.promo .promo_text span{
    font-size: 21px;
    font-family: "Roboto", sans-serif;
    color: #F9BF3B;
}
.promo_btn{
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow:0 0 0 rgba(0, 0, 0, 0.4);
    border:4px solid rgba(0,0,0,0.18)
    font-family: 'Roboto';
    font-size: 21px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    display: block;
    margin:73px  auto 0 auto;
    cursor:pointer;
    width:313px;
    height:72px;
    outline:none;

}
.more{
    margin-top: 73px;
}
.more .more_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.more .more_img{
    display: block;
    margin: 13px auto;
}

.waiting{
    padding:85px 0 75px 0;
    min-height:604px;
    background-color: #efefef;
}
.waiting_header, .finish_header{
    font-family: Roboto;
    font-style: normal;
    font-weight:400;
    font-size: 30px;
    line-height:12px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;

}
.waiting_divider, .finish_divider{
    width:217px ;
    height: 4px;
    background-color: #f9bf3b;
    margin:18px auto 0 auto;
}
.waiting_subheader{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 17px;
}
.waiting .waiting_wrapper{
    margin-top: 45px;
    display:flex;
    justify-content: space-between;

}
.waiting .waiting_wrapper .waiting_item{
    width:339px;

    text-align: center;
    margin:0 15px;
}
.waiting .waiting_wrapper .waiting_item .waiting_img{
    width:100%;
}
.waiting .waiting_wrapper .waiting_item .waiting_descr{
    margin-top:33px;
    font-style: normal;
    font-weight: 400;
    font-size:15px;
    line-height: 21px;

}
.optimization{
    min-heigth:550px;
    padding:102px 0 107px 0;

 }
.optimization_header{
    margin-left:391px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: #299CBD;
}
.optimization_text{
    margin-top: 25px;
    margin-left:391px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    align-items: center;
    color: #4A4A4A;

}
.optimization_text span{
    font-weight: 700;

}

.optimization_img{
    position:absolute;
    left:-240px; top:-48px;
    z-index:-1;
}
.finish{
    min-height: 440px;
    padding: 86px 0 79px 0;
    background:url('img/second_bg.png') center center/cover no-repeat;
}
.finish_header{
    color:white;
    padding-bottom:20px;
}
.finish_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}
.finish_item{
    width:204px;
}
.finish_round {
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width:115px;
    height:115px;
    border-radius:100%;
    background-color:lightblue;
}
.finish_descr{
    margin-top: 25px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    align-items: center;
    color: #EFEFEF;
}
.gift{
    padding: 70px 0 50px 0;
    background: #EFEFEF;
}
.gift_img {
    display: block;
    margin:0 auto;
}
.gift_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
}
.gift .promo_btn{
    margin: 30px auto 100px auto;

}
.web_img{
    display: block;
    margin: 100px auto 50px auto;
}
.web_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
    margin-top:30px;
}
.web_heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
    margin-top: 30px;
}
.web_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 20px;
    margin-bottom: 50px;
}
footer{
    background: #1A1A1A;
    min-height:170px;
}
ul{

    padding-top: 30px;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style:none;
}
li a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #888888;
    /*margin-right:20px;*/
}
li a span{
    margin:0 15px;
}
.footer_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #888888;
   padding:15px 0 30px 0;
}